<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	<select id = "isExitsId" parameterType = "String" resultType = "int">
		select count(*) from member where id = #{id}
	</select>
	
	<select id = "getZipcodeList" parameterType = "HashMap" resultType = "member.bean.ZipcodeDTO">
		select * from newzipcode where 
								 sido like '%'||#{sido,jdbcType=VARCHAR}||'%' and 
								  nvl(sigungu, 0) like '%'||#{sigungu,jdbcType=VARCHAR}||'%' and 
								  roadname like '%'||#{roadname,jdbcType=VARCHAR}||'%' 
	</select>
	
	<select id = "getMember" parameterType = "String" resultType = "member">
		select * from member where id = #{id}
	</select>
	
	<select id = "login" parameterType = "HashMap" resultType = "member">
		select * from member where id = #{id} and password = #{password}
	</select>
	
	<insert id = "write" parameterType = "member">
		insert into member values(#{name},
									#{id},
									#{password},
									#{gender},
									#{email1},
									#{email2},
									#{tel1},
									#{tel2},
									#{tel3},
									#{zipcode},
									#{addr1},
									#{addr2},
									sysdate)
	</insert>
</mapper>